.contacts{
  @extend .list;
  display: flex;
  margin-left: auto;
}
.contacts__item {
  margin-left: 50px;
}
.contacts__item:nth-child(1){
  margin-left: 0;
}
.contacts__link {
  @extend .link;
  @extend .flex-centered;
  padding-top: 30px;
  padding-bottom: 30px;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color var(--transition-option);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__link:hover,
.contacts__link:focus,
.contacts__icon:hover,
.contacts__icon:focus {
  color: var(--accent-color);
  cursor: pointer;
  fill: var(--accent-color);
}